version: "3.8"

services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"
    volumes:
      - ./sql:/docker-entrypoint-initdb.d

  airflow:
    build: .
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
    environment:
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
    command: >
      bash -c "airflow db migrate &&
               airflow users create
               --username admin --password admin
               --firstname admin --lastname admin
               --role Admin --email admin@example.com &&
               airflow webserver & airflow scheduler"